/*Common*/

.ggaw18 {
  display: block;
  width: 100%;
  position: relative
}

.ggaw18 h2 {
  font: 500 32px/50px Group1;
}

.ggaw18 p {
  font: 500 22px/24px Group1;
  margin-bottom: 20px;
}

.ggaw18__close:hover {
  cursor: pointer;
}

.ggaw18 hr {
  margin: 50px;
}

.ggaw18__generic__button {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 30px;
  width: 100%;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border: solid 1px #000;
  background: #FFF;
  position: relative;
  font: 700 12px/12px Group2, "Helvetica Neue", Arial, serif;
}

.ggaw18__generic__button:after {
  content: '';
  width: 12px;
  height: 12px;
  background: url(//assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-right.svg) no-repeat;
  background-size: contain;
  position: absolute;
}

.ggaw18__generic__button:hover {
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}

.ggaw18__generic__button:hover:after {
  content: '';
  width: 12px;
  height: 12px;
  background: url(//assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-white-right.svg) no-repeat;
  background-size: contain;
  position: absolute;
}

.ggaw18__plus__button {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 30px;
  width: 100%;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border: solid 1px #000;
  background: #FFF;
  position: relative;
  font: 700 12px/12px Group2, "Helvetica Neue", Arial, serif;
}

.ggaw18__plus__button:after {
  content: '';
  float: right;
  width: 22px;
  height: 22px;
  background: url(//assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/common/plus.svg) no-repeat;
  background-size: contain;
  position: absolute;
  margin-top: 0;
  right: 5%;
  top: 11px;
}

.ggaw18__plus__button:hover {
  cursor: pointer;
}

.ggaw18__plus__button:hover:after {
  content: '';
  float: right;
  width: 22px;
  height: 22px;
  background: url(//assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/common/plus-white.svg) no-repeat;
  background-size: contain;
  position: absolute;
  margin-top: 0;
  right: 5%;
  top: 11px;

}

.ggaw18__button__category:hover {
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}

.ggaw18__button__gifts,
.ggaw18__footer__button__gifts {
  color: #FFF;
  background: #000;
}

.ggaw18__button__gifts:hover,
.ggaw18__footer__button__gifts:hover {
  color: #000;
  background: #FFF;
}

.ggaw18__button__gifts:after,
.ggaw18__footer__button__gifts:after {
  content: '';
  width: 12px;
  height: 12px;
  background: url(//assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-white-right.svg) no-repeat;
  background-size: contain;
  position: absolute;
}

.ggaw18__button__gifts:hover:after,
.ggaw18__footer__button__gifts:hover:after {
  background: url(//assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-right.svg) no-repeat;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background-size: contain;
}

.ggaw18__button__gender__gifts {
  position: absolute;
  top: 2%;
  right: 2.6%;
}

/*Header*/

.ggaw18__header {
  display: block;
  position: relative;
  width: 106%;
  margin-left: -2.6%;
  overflow: hidden;
}

.ggaw18__header__image--background {
  width: 100%;
}

.ggaw18__header__title {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 200px;
  text-align: left;
  font: 500 48px/48px Group1;
  text-transform: capitalize;
}

.ggaw18__header__promo {
  position: absolute;
  display: block;
  top: 5%;
  left: 50%;
}

.ggaw18__header__promo img {
  width: 100%;
}

.ggaw18__header__promo.small {
  width: 190px;
  left: 75%;
  top: 30%;
}

.ggaw18__header__promo.medium {
  width: 250px;
  left: 15%;
  top: 20%;
}

.ggaw18__header__promo.large {
  width: 350px;
  left: 40%;
  top: 10%;
}

.ggaw18__header__promo__text {
  position: absolute;
  left: 0;
}

.ggaw18__header__promo__text h3 {
  font: 500 48px/48px Group1;
  text-transform: capitalize;
  text-align: left;
}

.ggaw18__header__promo__text span {
  display: inline-block;
  font: 900 12px/12px Group2, "Helvetica", "Arial", sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.ggaw18__header__promo__text span:after {
  content: '';
  float: right;
  width: 12px;
  height: 12px;
  background: url(//assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-right.svg) no-repeat;
  background-size: contain;
}

.ggaw18__header__promo__text.bottom {
  bottom: -50px;
}

.ggaw18__header__promo__text.top {
  top: -40px;
}

/*CTAs*/

.ggaw18__ctas {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 4px;
}

.ggaw18__buttons {
  display: block;
  width: 100%;
  text-align: center;
}

.ggaw18__button__category {
  margin-right: 2%;
}

.ggaw18__button__category,
.ggaw18__button__gifts {
  display: inline-block;
}

.ggaw18__carousel__holder,
.ggaw18__wishlist__expand,
.ggaw18__services__expand {
  transition: all 0.5s;
  height: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ggaw18__carousel__holder {
  background: #FFF;
  position: relative;
  padding-left: 20px;
}

.ggaw18__open {
  height: 350px;
}

.ggaw18__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  right: 5%;
}

.ggaw18__carousel__holder .ggaw18__close {
  display: none;
}

.ggaw18__carousel {
  height: 320px;
  padding: 0 20px;
  width: 200%;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.ggaw18__carousel__item {
  width: 180px;
  height: auto;
  display: block;
  position: relative;
  float: left;
  margin-right: 20px;
  font: 900 30px/30px Group4;
  text-align: center;
  padding-top: 0;
  color: #fff;
  margin-bottom: 0;
  margin-top: 20px;
}

.ggaw18__carousel__item img {
  width: 100%;
  position: relative;
  vertical-align: baseline;
  height: 230px;
}

.ggaw18__carousel__item__text {
  top: 30px;
  bottom: auto;
  transform: unset;
  -webkit-transform: unset;
}

.ggaw18__carousel__item__text h3 {
  text-transform: uppercase;
  font: 900 13px/14px Group1;
  position: relative;
  color: #000;
  margin-top: 10px;
  margin-bottom: -10px;
}

.ggaw18__carousel__item__text span {
  display: inline-block;
  font: 900 11px/12px Group2, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000;
}

.ggaw18__carousel__item__text span:after {
  content: '';
  float: right;
  width: 12px;
  height: 12px;
  background: url(//assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-right.svg) no-repeat;
  background-size: contain;
  margin-top: 1px;
}

.ggaw18__carousel__slider {
  width: 100%;
  margin: 0 auto 0px auto;
  background: #FFF;
  height: 35px;
  position: relative;
  display: block;
}

.ggaw18__carousel__slider:before {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 0;
  top: 12px;
  left: 5%;
  border-bottom: solid 1px #CCC;
}

.ggaw18__carousel__slider__input {
  display: block;
  width: 90%;
  height: 1px;
  background: #CCC;
  position: absolute;
  top: 12px;
  left: 5%;
  border: none;
}

.ggaw18__carousel__slider:hover .ggaw18__carousel__slider__input {
  cursor: pointer;
}

.ggaw18__carousel__slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 40px;
  border-radius: 1px;
  background: #000;
  cursor: pointer;
}

.ggaw18__carousel__slider__input::-moz-range-thumb {
  height: 16px;
  width: 40px;
  border-radius: 1px;
  background: #000;
  cursor: pointer;
}

.ggaw18__carousel__slider__input::-ms-thumb {
  height: 16px;
  width: 40px;
  border-radius: 1px;
  background: #000;
  cursor: pointer;
}

.ggaw18__carousel__slider__input:hover::-webkit-slider-thumb {
  background: #000;
}

.ggaw18__carousel__slider__input:hover::-moz-range-thumb {
  background: #000;
}

.ggaw18__carousel__slider__input:hover::-ms-thumb {
  background: #000;
}

/*Wishlist*/

.ggaw18__wishlist__more {
  border: none;
  margin-top: 10px
}

.ggaw18__wishlist__more:after {
  width: 14px;
  height: 14px;
  margin-top: 0;
  right: 5%;
  top: 14px;
}

.ggaw18__wishlist__more:hover:after {
  background: url(//assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/common/plus.svg) no-repeat;
  width: 14px;
  height: 14px;
  margin-top: 0;
  right: 5%;
  top: 14px;
}

.ggaw18__wishlist {
  display: block;
}

.ggaw18__wishlist__container {
  display: table;
  margin: 0 auto;
  padding: 30px 0;
}

.ggaw18__wishlist__image,
.ggaw18__wishlist__expand__image {
  display: table-cell;
  vertical-align: middle;
  width: 470px;
  text-align: right;
}

.ggaw18__wishlist__text,
.ggaw18__wishlist__expand__text {
  display: table-cell;
  vertical-align: middle;
  width: 500px;
  padding-left: 35px;
  font: 500 14px/18px Group1;
}

.ggaw18__wishlist__expand {
  height: auto;
  padding-top: 30px;
  border-top: solid 1px #ccc;
}

.ggaw18__wishlist__expand__container {
  display: table;
  margin: 0 auto;
  position: relative;
}

.ggaw18__wishlist__expand__image img {
  width: 100%;
}

.ggaw18__wishlist .ggaw18__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
}

.ggaw18__wishlist .ggaw18__close:hover {
  cursor: pointer;
}


/*Services*/

.ggaw18__services {
  display: block;
  text-align: center;
}

.ggaw18__services__text__carousel {
  width: 80%;
  margin: 0 auto 20px auto;
}

.ggaw18__services__contact {
  margin: 10px auto 50px auto;
}

.ggaw18__services__contact span {
  font: 500 12px/12px Group2;
}

.ggaw18__services__contact span:nth-of-type(1) {
  margin-right: 5%;
}

.ggaw18__services__expand {
  height: auto;
  padding-top: 30px;
  border-top: solid 1px #CCC;
  margin-top: 30px;
}

.ggaw18__services__expand__container {
  display: table;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}

.ggaw18__services__expand__container .ggaw18__close {
  top: 0;
  right: 0;
  cursor: pointer;
}

.ggaw18__services__expand h3 {
  display: block;
  position: absolute;
  width: 200px;
  font: 400 15px/ 40px Group4;
  left: 50%;
  top: -10px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  transform: translateX(-50%);
}

.ggaw18__services__expand__image {
  display: table-cell;
  vertical-align: middle;
  width: 470px;
}

.ggaw18__services__expand__image img {
  width: 100%;
}

.ggaw18__services__expand__text {
  display: table-cell;
  vertical-align: middle;
  width: 470px;
  padding-right: 30px;
  text-align: left;
}

.ggaw18__services__expand__text h4 {
  margin-bottom: 10px;
  font: 700 26px/26px Group1;
}

.ggaw18__services__expand__text p {
  color: #000;
  font: 400 14px/18px Group1;
}

/*Style Social */

.ggaw18__style__social {
  display: table;
  margin: 0 auto;
}

.ggaw18__style__social__image {
  display: table-cell;
  vertical-align: middle;
  width: 470px;
  text-align: right;
}

.ggaw18__style__social__text {
  display: table-cell;
  vertical-align: middle;
  width: 500px;
  padding-left: 35px;
}

/*Footer */

.ggaw18__footer {
  display: block;
  position: relative;
  width: 100%;
  height: 150px;
  z-index: 7;
  background: #fff;
  left: 0;
  margin-top: 0;
  clear: both;
  margin-bottom: 30px;
}



.ggaw18__footer h3 {
  display: block;
  position: absolute;
  width: 100%;
  font: 400 15px/ 15px Group4;
  left: 0;
  top: 70px;
  text-transform: uppercase;
  text-align: center;
}

.ggaw18__footer__button__gifts {
  display: block;
}

.ggaw18__footer .share-icons {
  position: absolute;
  display: block;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.ggaw18__footer .share-icons a {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.ggaw18__footer .icon-facebook {
  display: inline-block;
  background: black url(http://assets.matchesfashion.com/content/mf/images/svg/facebook-icon.svg) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.ggaw18__footer .icon-facebook:hover {
  background-color: #3b5998;
}

.ggaw18__footer .icon-twitter {
  display: inline-block;
  background: black url(http://assets.matchesfashion.com/content/mf/images/svg/twitter-icon.svg) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.ggaw18__footer .icon-twitter:hover {
  background-color: #33ccff;
}

.ggaw18__footer .icon-pinterest {
  display: inline-block;
  background: black url(http://assets.matchesfashion.com/content/mf/images/svg/pinterest-icon.svg) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.ggaw18__footer .icon-pinterest:hover {
  background-color: #cc2127;
}

.ggaw18__footer .icon-google {
  display: inline-block;
  background: black url(http://assets.matchesfashion.com/content/mf/images/svg/google-plus-icon.svg) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.ggaw18__footer .icon-google:hover {
  background-color: #cc3306;
}

/* Media Queries */

@media (max-width: 42.5em) {
  .ggaw18__header {
    height: 375px;
  }

  .ggaw18__header {
    width: 108%;
    height: 370px;
    border-bottom: solid 1px #ccc;
  }

  .ggaw18__header__title {
    font: 500 30px/40px Group1;
  }

  .ggaw18__header__promo.large {
    width: 250px;
  }

  .ggaw18__header__promo.small {
    width: 150px;
  }

  .ggaw18__ctas {
    display: block;
    position: fixed;
    width: 102%;
    bottom: 0;
    margin-left: -1%;
    background: #fff;
    z-index: 10;
  }

  .ggaw18__carousel {
    width: 750%;
  }


  .ggaw18__plus__button {
    font: 700 11px/11px Group2, "Helvetica Neue", Arial, serif;
  }

  .ggaw18__generic__button {
    font: 700 11px/11px Group2, "Helvetica Neue", Arial, serif;
  }

  .ggaw18__buttons>span,
  .ggaw18__buttons>a {
    width: 50%;
    border-right: none;
    border-left: none;
    max-width: 100%;
  }

  .ggaw18__buttons>span {
    float: left;
    margin-right: 0;
    padding: 15px 27px 15px 0;
  }

  .ggaw18__buttons>a {
    float: right;
    border-left: solid 1px #000;
  }

  .ggaw18__button__category:hover {
    border-right: solid 1px #fff;
  }


  .ggaw18__wishlist__container {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
  }

  .ggaw18__wishlist__image,
  .ggaw18__wishlist__expand__image {
    display: block;
    width: 100%;
  }

  .ggaw18__wishlist__text,
  .ggaw18__wishlist__expand__text {
    display: block;
    width: 100%;
    padding-left: 0;
    font: 500 14px/18px Group1;
    text-align: center;
  }

  .ggaw18 h2 {
    font: 500 22px/50px Group1;
  }

  .ggaw18 p {
    font: 500 16px/24px Group1;
    margin-bottom: 20px;
  }

  .ggaw18__wishlist .ggaw18__close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -40px;
    right: 0;
  }

  .ggaw18__wishlist__expand {
    height: auto;
    padding-top: 60px;
    border-top: solid 1px #ccc;
  }

  .ggaw18__wishlist__expand h2 {
    position: absolute;
    top: -55px;
    margin-top: 0;
  }

  .ggaw18__services h2 {
    font: 500 22px/30px Group1;
  }

  .ggaw18__services__contact span {
    font: 700 12px/12px Group2;
    width: 100%;
    display: block;
  }

  .ggaw18__services__contact span:nth-of-type(1) {
    margin: 20px 0;
  }

  .ggaw18__services__contact {
    margin: 10px auto 20px auto;
  }

  .ggaw18__services__expand__container {
    display: block;
    padding-top: 50px;
    position: relative;
  }

  .ggaw18__services__expand__text {
    display: block;
    width: 100%;
    text-align: left;
  }

  .ggaw18__services__expand__image {
    display: block;
    width: 100%;
  }

  .ggaw18__style__social {
    display: block;
    margin: 0 auto;
  }

  .ggaw18__style__social__image {
    display: block;
    width: 100%;
  }

  .ggaw18__style__social__text {
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .ggaw18__footer .share-icons {
    min-width: 180px;
  }

}

@media (min-width: 42.563em) and (max-width: 61.25em) {
  .ggaw18__header {
    height: 650px;
  }

  .ggaw18__header__title {
    font: 500 35px/40px Group1;
  }

  .ggaw18__header__promo__text h3 {
    font: 500 35px/35px Group1;
  }

  .ggaw18__header__promo__text span {
    font: 900 10px/10px Group2, "Helvetica", "Arial", sans-serif;
  }

  .ggaw18__header__promo.medium {
    width: 300px;
  }

  .ggaw18__header__promo.large {
    width: 420px;
  }

  .ggaw18__header__promo.small {
    width: 250px;
  }

  .ggaw18__carousel {
    width: 350%;
  }

  .ggaw18__plus__button {
    font: 700 10px/10px Group2, "Helvetica Neue", Arial, serif;
  }

  .ggaw18__generic__button {
    font: 700 10px/10px Group2, "Helvetica Neue", Arial, serif;
  }

  .ggaw18 h2 {
    font: 500 21px/40px Group1;
  }

  .ggaw18 p {
    font: 500 16px/20px Group1;
    margin-bottom: 20px;
  }

  .ggaw18__ctas {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }

  .ggaw18__wishlist__image,
  .ggaw18__wishlist__expand__image {
    width: 320px;
  }

  .ggaw18__wishlist__text,
  .ggaw18__wishlist__expand__text {
    width: 300px;
  }

  .ggaw18__wishlist__expand__text p {
    font: 500 12px/15px Group1;
  }

  .ggaw18__services__contact span {
    font: 500 10px/12px Group2;
  }

  .ggaw18__services__expand__text p {
    color: #000;
    font: 400 12px/15px Group3;
  }

  .ggaw18__footer h3 {
    font: 400 12px/15px Group4;
  }
}

@media (min-width: 61.313em) and (max-width: 90em) {
  .ggaw18__header {
    height: 570px;
  }

  .ggaw18__header__promo.large {
    width: 350px;
  }

  .ggaw18__header__promo.medium {
    width: 275px;
  }

  .ggaw18__header__promo.small {
    width: 195px;
  }

  .ggaw18__ctas {
    bottom: 0px;
  }

  .ggaw18__carousel {
    width: 250%;
  }

  .ggaw18__wishlist__image,
  .ggaw18__wishlist__expand__image {
    width: 440px;
  }

  .ggaw18__wishlist__expand__text p {
    font: 500 14px/20px Group1;
  }

  .ggaw18__services__expand__text p {
    color: #000;
    font: 400 14px/18px Group1;
  }

  .ggaw18__services__contact span {
    font: 700 12px/12px Group2;
  }
}

@media (min-width: 90em) {

  .ggaw18__header {
    height: 750px;
  }

  .ggaw18__header__promo.large {
    width: 445px;
  }

  .ggaw18__header__promo.medium {
    width: 345px;
  }

  .ggaw18__header__promo.small {
    width: 245px;
  }

  .ggaw18__wishlist__image,
  .ggaw18__wishlist__expand__image {
    width: 550px;
  }

  .ggaw18__ctas {
    bottom: 0px;
  }

  .ggaw18__carousel {
    width: 250%;
    margin: 0 auto;
  }

  .ggaw18__wishlist__expand__text p {
    font: 500 14px/20px Group1;
  }

  .ggaw18__services__contact span {
    font: 700 12px/12px Group2;
  }

  .ggaw18__services__expand__text p {
    font: 400 14px/18px Group1;
  }
}