<main class="ggaw18">
  <header class="ggaw18__header">
    <img class="ggaw18__header__image--background" src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/header/background.jpg" />
    <div class="ggaw18__header__title">Lorem ipsum dolor sit amet.</div>
    <div class="ggaw18__header__promo medium">
      <a>
        <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/header/header-promo.jpg" />
        <div class="ggaw18__header__promo__text bottom">
          <h3>Medium</h3>
          <span>Shop Now</span>
        </div>
      </a>
    </div>
    <div class="ggaw18__header__promo large">
      <a>
        <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/header/header-promo.jpg" />
        <div class="ggaw18__header__promo__text top">
          <h3>Large</h3>
          <span>Shop Now</span>
        </div>
      </a>
    </div>
    <div class="ggaw18__header__promo small">
      <a>
        <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/header/header-promo.jpg" />
        <div class="ggaw18__header__promo__text top">
          <h3>Small</h3>
          <span>Shop Now</span>
        </div>
      </a>
    </div>

    <section class="ggaw18__ctas">
      <div class="ggaw18__buttons">
        <span class="ggaw18__plus__button ggaw18__button__category">Shop By Category</span>
        <a href="#" class="ggaw18__generic__button ggaw18__button__gifts">Shop All Gifts</a>
      </div>
      <div class="ggaw18__carousel__holder ggaw18__open">
        <img class="ggaw18__close" src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/common/close.svg" />
        <div class="ggaw18__carousel">
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
          <div class="ggaw18__carousel__item">
            <a href="#">
              <img src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/test/published/media/ctas/category-item.jpg" />
              <div class="ggaw18__carousel__item__text">
                <h3>Category Name</h3>
                <span>Shop Now</span>
              </div>
            </a>
          </div>
        </div>
        <div class="ggaw18__carousel__slider">
          <input class="ggaw18__carousel__slider__input" type="range" value="0" min="0" max="100" step="1">
        </div>
      </div>
    </section>
    <a href="#" class="ggaw18__generic__button ggaw18__button__gender__gifts">Mens Gift Guide</a>
  </header>
  <section class="ggaw18__wishlist">
    <div class="ggaw18__wishlist__container">
      <div class="ggaw18__wishlist__image">
        <img src="https://assets.matchesfashion.com/content/mf/webassets/mega-nav/WOMENS/2018/SEP/180912/ShopBy/180912-WW-ShopBy.jpg" />
      </div>
      <div class="ggaw18__wishlist__text">
        <h2>Win your <i>WISHLIST</i>.</h2>
        <p>Share your wishlist lorem ipsum dolor sit asset, orem ipsum dolor sit asset dolor sit asset.</p>
        <a class="ggaw18__generic__button ggaw18__wishlist__cta" href="#">Create your wishlist</a>
        <span class="ggaw18__plus__button ggaw18__wishlist__more">How to use your wishlist</span>
      </div>
    </div>
    <div class="ggaw18__wishlist__expand">

      <div class="ggaw18__wishlist__expand__container">
        <img class="ggaw18__close" src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/common/close.svg" />
        <div class="ggaw18__wishlist__expand__image">
          <img src="https://assets.matchesfashion.com/content/mf/ISSUES/2018/WOMENS/SEP/0926/PR/images/pr-1-new.jpg" />
        </div>
        <div class="ggaw18__wishlist__expand__text">
          <h2>How To Use Your Wishlist</h2>
          <p>1. Share your wishlist lorem ipsum dolor sit asset, orem ipsum dolor sit asset dolor sit asset. Lorem
            ipsum dolor sit asset, orem ipsum dolor sit asset </p>
          <p>2. Lorem ipsum dolor sit asset, orem ipsum dolor sit asset dolor sit asset. Lorem ipsum dolor sit asset,
            orem ipsum dolor sit asset dolor sit asset dolor sit asset, orem ipsum dolor sit asset dolor sit asset.</p>
          <p>3. Share your wishlist lorem ipsum dolor sit asset, orem ipsum dolor sit asset dolor sit asset qm ipsum
            dolor it.</p>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="ggaw18__services">
    <div class="ggaw18__services__text__carousel">
      <div class="ggaw18__services__text__carousel__item">
        <h2>Need help? Our team is here to assit & inspire you,24hours a day, seven days a week.</h2>
      </div>
      <!-- <div class="ggaw18__services__text__carousel__item">
        <h2>Need help? Our team is here to assit & inspire you,24hours a day, seven days a week.</h2>
      </div>
      <div class="ggaw18__services__text__carousel__item">
        <h2>Need help? Our team is here to assit & inspire you,24hours a day, seven days a week.</h2>
      </div> -->
    </div>
    <div class="ggaw18__services__contact">
      <span><a href="tel:+44(0)20 7022 0828">+44(0)20 7022 0828</a></span>
      <span><a href="mailto:hello@matchesfashion.com">hello@matchesfashion.com</a></span>
    </div>
    <span class="ggaw18__generic__button ggaw18__services__cta">Find Out More</span>
    <div class="ggaw18__services__expand">
      <div class="ggaw18__services__expand__container">
        <img class="ggaw18__close" src="https://assets.matchesfashion.com/devTest/translated/2018/gift-guide-aw18/wireframe/common/close.svg" />
        <h3>Help and Advice</h3>
        <div class="ggaw18__services__expand__text">
          <h4>MyStylist</h4>
          <p>Looking for gift ideas? Our MyStylist team is on hand to help inspire you – just call or email us with
            your
            queries using the contact details below.
            <br />
            t: 0800 009 4123 (UK Toll Free) <br />
            t: +44 (0)20 7022 0828 <br />
            e: mystylist@matchesfashion.com</p>
          <h4>Private Shopping</h4>
          <p>Join the Private Shopping team at No.23. In luxe surroundings, we can help you find the perfect gift or
            assist with a seasonal wardrobe refresh.
            <br />
            No.23 Welbeck Street, London W1 <br />
            t: +44 (0)333 321 2167 <br />
            e: privateshopping@matchesfashion.com</p>
          <h4>Customer Care</h4>
          <p>For general enquiries or questions about your order, our Customer Care team is here to help, 24 hours a
            day,
            7 days a week.
            <br />
            t: 0800 009 4123 (UK Toll Free) <br />
            t: +44 (0)20 7022 0828 <br />
            e: customercare@matchesfashion.com</p>
        </div>
        <div class="ggaw18__services__expand__image">
          <img src="https://assets.matchesfashion.com/content/mf/GiftGiude/_AW16/_template/images/overlay3.jpg" />
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="ggaw18__style__social">
    <div class="ggaw18__style__social__image">
      <img src="https://assets.matchesfashion.com/content/mf/webassets/mega-nav/WOMENS/2018/SEP/180919/ShopBy/180919-WW-ShopBy.jpg" />
    </div>
    <div class="ggaw18__style__social__text">
      <h2>The Style Social</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At distinctio, veniam beatae aspernatur temporibus
        possimus similique hic earum sint consectetur quo magni laudantium eligendi nemo impedit quibusdam aut
        inventore minima!</p>
      <a href="#" class="ggaw18__generic__button ggaw18__style__social__cta">View Style Social</a>
    </div>
  </section>
  <hr />
  <footer class="ggaw18__footer">
    <a href="#" class="ggaw18__generic__button ggaw18__footer__button__gifts">Shop All Gifts</a>
    <h3>Share</h3>
    <div class="share-icons">
      <a href="https://www.facebook.com/sharer/sharer.php?s=100&amp;u=http%3A%2F%2Fwww.matchesfashion.com%2Fmens%2Fgift-guide"
        onclick="javascript:window.open(this.href,'facebook_share', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
        class="icon-facebook"></a>
      <a data-lang="en" data-dnt="true" data-count="none" data-text="MATCHESFASHION.COM" data-url="" href="javascript:void(window.open('https://twitter.com/share?url=http%3A%2F%2Fwww.matchesfashion.com%2Fmens%2Fgift-guide','twitter_share', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'));"
        class="icon-twitter"></a>
      <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.matchesfashion.com%2Fmens%2Fgift-guide"
        target="_blank" onclick="javascript:window.open(this.href,'pininterest_share', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
        class="icon-pinterest"></a>
      <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.matchesfashion.com%2Fmens%2Fgift-guide" onclick="javascript:window.open(this.href,'googleplus_share', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
        class="icon-google"></a>
    </div>
  </footer>
</main>